{#todo userデータがあればそれを埋めてなければ空で設定する#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="app" class="container">
    <form action="/register" method="post">
        <input type="hidden" value="{{ user.id }}" name="user_id">
        <div class="invite-form">
            <table>
                <tr>
                    <th>苗字</th>
                    <td>
                        <el-input placeholder="苗字" name="last_name" v-model="context.last_name"></el-input>
                    </td>
                </tr>
                <tr>
                    <th>名前</th>
                    <td>
                        <el-input placeholder="名前" name="first_name" v-model="context.first_name"></el-input>
                    </td>
                </tr>
                <tr>
                    <th>苗字（カナ）</th>
                    <td>
                        <el-input placeholder="苗字（カナ）" name="last_name_kana"
                                  v-model="context.last_name_kana"></el-input>
                    </td>
                </tr>
                <tr>
                    <th>名前（カナ）</th>
                    <td>
                        <el-input placeholder="名前（カナ）" name="first_name_kana"
                                  v-model="context.first_name_kana"></el-input>
                    </td>
                </tr>
                <tr>
                    <th>Eメール</th>
                    <td>
                        <el-input placeholder="Eメール" name="email" v-model="context.email"></el-input>
                    </td>
                </tr>
                <tr>
                    <th>性別</th>
                    <td>
                        <el-radio class="radio" v-model="context.gender" name="gender" label="male">男性</el-radio>
                        <el-radio class="radio" v-model="context.gender" name="gender" label="female">女性</el-radio>
                    </td>
                </tr>
                <tr>
                    <th>電話番号</th>
                    <td>
                        <el-input placeholder="電話番号" v-model="context.tel" name="tel"></el-input>
                    </td>
                </tr>
                <tr>
                    <th>サムネイル</th>
                    <td>
                        <el-upload
                                class="avatar-uploader"
                                action="//0.0.0.0:3333/api/v1/image/resize"
                                :show-file-list="false"
                                :on-success="handleAvatarSuccess"
                                :before-upload="beforeAvatarUpload">
                            <img v-if="context.thumbnail" :src="context.thumbnail" class="avatar">
                            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                        </el-upload>
                    </td>
                </tr>
                <tr>
                    <th>住所</th>
                    <td>
                        <el-input placeholder="住所" v-model="context.address" name="address"></el-input>
                    </td>
                </tr>
                <tr>
                    <th>郵便番号</th>
                    <td>
                        <el-input placeholder="郵便番号" v-model="context.postal_code" name="postal_code"></el-input>
                    </td>
                </tr>
                <tr>
                    <th>パスワード</th>
                    <td>
                        <el-input placeholder="パスワード" v-model="context.password" name="password"></el-input>
                    </td>
                </tr>
            </table>
        </div>
        <div class="invite-button">
            <el-button @click="register">登録</el-button>
        </div>
    </form>
</div>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      context: {
        "last_name": "山田",
        "first_name": "太郎",
        "last_name_kana": "ヤマダ",
        "first_name_kana": "タロウ",
        "email": "mailsend.manager@gmail.com",
        "gender": "male",
        "password": "pw",
        "postal_code": "000-0000",
        "address": "大阪府大阪市ほげほげ町",
        "thumbnail": "",
        "tel": "123-4567"
      }
    },
    methods: {
      handleAvatarSuccess(res, file) {
        this.context.thumbnail = res.dataUrl
      },
      beforeAvatarUpload(file) {
        const isJPG = file.type === 'image/jpeg';
        const isLt2M = file.size / 1024 / 1024 < 2;

        if (!isJPG) {
          this.$message.error('Avatar picture must be JPG format!');
        }
        if (!isLt2M) {
          this.$message.error('Avatar picture size can not exceed 2MB!');
        }
        return isJPG && isLt2M;
      },
      register(){
        const form = document.querySelector('form')
        form.submit()
      }
    }
  })

</script>

<style scoped>
    body {
        background: #F9F9F9
    }

    .container {
        width: 960px;
        margin: 0 auto;
    }

    .invite-form {
        margin: 0 auto;
        width: 100%;
        position: relative;
    }

    .invite-form table {
        width: 100%;
        background: #fff;
        border-collapse: collapse;
        border-spacing: 0;
    }

    .invite-form table th {
        border: 1px solid #ccc;
        width: 20%;
        color: #777;
    }

    .invite-form table td {
        padding: 15px;
        border: 1px solid #ccc;
        width: 80%;
    }

    .invite-button {
        margin-top: 20px;
        margin-left: 90%;
    }

    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .avatar-uploader .el-upload:hover {
        border-color: #20a0ff;
    }

    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }

    .avatar {
        width: 178px;
        height: 178px;
        display: block;
    }

</style>
</body>
</html>
