<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link rel="stylesheet" href="element-ui.css">
  <script src="element-ui.js"></script>
  <link rel="stylesheet" href="reset.css">
</head>
<body>
<div id="app" class="container">
  <div class="invite-form">
    <el-form ref="form" label-width="120px" action="/confirm" method="post">
      <input type="hidden" value="{{ user.id }}" name="user_id">
      <el-form-item label="苗字" required>
        <el-input placeholder="Please input" name="last_name" value="{{ user.last_name }}"></el-input>
      </el-form-item>
      <el-form-item label="名前" required>
        <el-input placeholder="Please input" name="first_name" value="{{ user.first_name }}"></el-input>
      </el-form-item>
      <el-form-item label="苗字 (カナ)">
        <el-input placeholder="Please input" name="last_name_kana" value="{{ user.last_name_kana }}"></el-input>
      </el-form-item>
      <el-form-item label="名前 (カナ)">
        <el-input placeholder="Please input" name="first_name_kana" value="{{ user.first_name_kana }}"></el-input>
      </el-form-item>
      <el-form-item label="郵便番号">
        <el-input placeholder="Please input" name="postal_code" value="{{ user.postal_code }}"></el-input>
      </el-form-item>
      <el-form-item label="住所">
        <el-input placeholder="Please input" name="address" value="{{ user.address }}"></el-input>
      </el-form-item>
      <el-form-item label="Eメール">
        <el-input placeholder="Eメール" name="email" value="{{ user.email }}"></el-input>
      </el-form-item>
      <el-form-item label="生年月日">
        <el-date-picker
            v-model="context.birthday"
            type="date"
            placeholder="Please input"
            name="birthday"
        >
        </el-date-picker>
      </el-form-item>
      <el-form-item label="性別" required>
        <el-radio-group v-model="context.gender">
          <el-radio label="male" name="gender">男性</el-radio>
          <el-radio label="female" name="gender">女性</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="電話番号">
        <el-input placeholder="Please input" name="tel" value="{{ user.tel }}"></el-input>
      </el-form-item>
      <el-form-item label="パスワード">
        <el-input placeholder="パスワード" type="password" name="password"></el-input>
      </el-form-item>
      <div class="invite-button">
        <el-button @click="confirm" type="primary">確認</el-button>
      </div>
    </el-form>
  </div>
</div>
<script>
  const app = new Vue({
    el: '#app',
    data(){
      return {
        context:{
          birthday:"",
          gender:""
        }
      }
    },
    methods: {
      confirm(){
        let form = document.querySelector('form')
        form.submit()
      }
    }
  })
</script>

<style scoped>
  body {
    background: #F9F9F9;
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  }

  .container {
    width: 960px;
    margin: 0 auto;
  }

  .invite-form {
    margin: 0 auto;
    width: 100%;
    position: relative;
    background: #fff;
    box-sizing: border-box;
  }

  .el-form {
    padding: 20px;
  }

  .invite-button {
    margin-left: calc(100% - 60px);
  }

</style>
</body>
</html>
