<p>
{{user.email}} 様<br>
<br>
{{company.company_name}}より、勤怠管理システム に招待されました。<br>
{{company.company_name}}では、勤怠管理システム を利用して勤怠管理を行なっています。<br>
<br>
{{host}}/register?t={{token}}<br>
<br>
上記のリンクより、入力されている情報の確認し、不足分の項目入力を行い、招待を承認してください。<br>
<br>
身に覚えのない場合又は、招待を承認しない場合はメールを破棄してください。<br>
<br>
※本メールは配信専用のため、返信いただいてもご回答ができません。あらかじめご了承ください。
</p>
